<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>

    <!-- <img src="https://s-media-cache-ak0.pinimg.com/236x/ec/1c/80/ec1c80d7c25e0cf6e198cda6d4fd1cf8.jpg"/> -->
    <h1><%= title %></h1><%= blurb %>

    <h2>Top Movies</h2>
    <% for (var mov of movie) { %>
      <p>
        <h3>
          <%= mov.title %>
        </h3>
      </p>
      <p>
        Ranked: <%= mov.ranked %>
      </p>
    <% } %>

    <h2>Top Books</h2>
    <% for (var boo of book) { %>
      <p>
        <h3>
          <%= boo.title %>
        </h3>
      </p>
      <p>
        Ranked: <%= boo.ranked %>
      </p>
    <% } %>

    <h2>Top Albums</h2>
    <% for (var alb of album) { %>
      <p>
        <h3>
          <%= alb.title %>
        </h3>
      </p>
      <p>
        Ranked: <%= alb.ranked %>
      </p>
    <% } %>

  </body>
</html>
